<form name="profileForm" [formGroup]="profileForm" novalidate>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 icon-form-field text-center">
     <div class="profile-pic-div justify-content-center">
        <mat-icon color="accent" class="profile-pic">person pin</mat-icon>
     </div>
     <input type="file" name="pic" accept="image/*">
    </div>
      <div class="col-md-5 icon-form-field">
          <mat-form-field class="full-width">
              <input matInput placeholder="Name" value="{{person?.givenName}}">
            </mat-form-field> <br />
            <mat-form-field class="full-width">
                <input matInput placeholder="Surname" value="{{person?.familyName}}">
              </mat-form-field> <br />
              <mat-form-field class="full-width">
                  <input matInput placeholder="School ID" value="{{person?.id}}">
                </mat-form-field> <br />
                
    </div>
  </div>

  <div class="row mt-5">
      <div class="col-sm-12">
          <h1>Password</h1>
        </div>

  </div>

  <div class="row">
    <div class="col-md-4">
    
      <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Current password" value="12345678">
        </mat-form-field> <br />
    </div>
    <div class="col-md-8">
    
        <mat-form-field class="half-width">
            <input matInput type="password" placeholder="New password" formControlName="uPassword1">
          </mat-form-field>
          <mat-form-field class="half-width">
              <input matInput type="password" placeholder="Confirm password" formControlName="uPassword2">
            </mat-form-field> <br />

            <span *ngIf="changedPwd"><h3> Your password has been reset. </h3>  </span>
          <button mat-raised-button (click)="changePwd()">Change password</button>
            <br />
      </div>
  </div>

  <div class="row mt-5">
      <div class="col-sm-12">
          <h1>Address</h1>
        </div>

  </div>

</div>
</form>