<div class="container">
     <mat-horizontal-stepper *ngIf="addCurriculumMode" [linear]="isLinear" #stepper="matHorizontalStepper">
   <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
         <ng-template matStepLabel>Curriculum</ng-template>
         <div>
            <mat-form-field class="curriculum-form-fields">
               <mat-select placeholder="Select curriculum" formControlName="firstCtrl" required>
                  <mat-option *ngFor="let curriculum of curriculums" [value]="curriculum.value">
                  {{ curriculum.viewValue }}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div>
         <div>
            <button mat-button matStepperNext class="step-wizard-btn">Next</button>
         </div>
      </form>
   </mat-step>
   <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
         <ng-template matStepLabel>School grade</ng-template>
         <mat-form-field class="curriculum-form-fields">
            <mat-select placeholder="Select grade" formControlName="secondCtrl" required>
               <mat-option *ngFor="let grade of grades" [value]="grade.value">
               {{ grade.viewValue }}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <div class="row">
           <div class="col-6">
            <div class="row">
                <div class="col-6"><button mat-button matStepperPrevious class="step-wizard-btn-blue">Back</button></div>
                <div class="col-6 btn-right"><button mat-button matStepperNext (click)='prepSubjects()' class="step-wizard-btn">Next</button></div>
            </div>  
          </div>
         </div>
      </form>
   </mat-step>
   <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
         <ng-template matStepLabel>Add subjects</ng-template>
         <mat-form-field class="demo-chip-list curriculum-form-fields">
            <mat-chip-list #chipList>
               <mat-chip *ngFor="let subject of subjects" [selectable]="selectable"
               [removable]="removable" (remove)="remove(subject)">
               {{subject.name}}
               <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
               </mat-chip>
               <input placeholder="Enter subject's names"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" />
            </mat-chip-list>
         </mat-form-field>

         <div class="row">
            <div class="col-6">
              <div class="row">
                  <div class="col-6"><button mat-button matStepperPrevious class="step-wizard-btn-blue">Back</button></div>
                  <div class="col-6 btn-right"><button mat-button matStepperNext (click)="addCurriculum()" class="step-wizard-btn">Done</button></div>
              </div> 
           </div>
          </div>

      </form>
   </mat-step>
   </mat-horizontal-stepper>

   <br/>
   <div class="row">
   <div class="col-md-6">
      <div class="docs-example-viewer-title">
          <div class="docs-example-viewer-title-spacer custom-table-heading">National</div>
      </div>
      <br/>
      <div class="example-container mat-elevation-z8" *ngIf="nationalSource">
          <mat-table #table [dataSource]="nationalSource">
  
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
  
            <!-- Position Column -->
            <ng-container matColumnDef="schoolGrade">
              <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.schoolGrade}} </mat-cell>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="gradeSubjects">
              <mat-header-cell *matHeaderCellDef> Subjects </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <span *ngFor="let elem of element.gradeSubjects">
                  {{elem.name}}
                </span>
                </mat-cell>
            </ng-container>
  
        
  
          
  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
   </div>

   <div class="col-md-6">
      <div class="docs-example-viewer-title">
          <div class="docs-example-viewer-title-spacer custom-table-heading">Cambridge</div>
      </div>
      <br/>
      <div class="example-container mat-elevation-z8" *ngIf="cambridgeSource">
        <mat-table #table [dataSource]="cambridgeSource">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="schoolGrade">
            <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.schoolGrade}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="gradeSubjects">
            <mat-header-cell *matHeaderCellDef> Subjects </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span *ngFor="let elem of element.gradeSubjects">
                {{elem.name}}
              </span>
              </mat-cell>
          </ng-container>

      

        

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
   </div>
   </div>
</div>