<div class="container">
     <mat-horizontal-stepper *ngIf="addCurriculumMode" [linear]="isLinear" #stepper="matHorizontalStepper">
   <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
         <ng-template matStepLabel>Curriculum</ng-template>
         <div>
            <mat-form-field>
               <mat-select placeholder="Select curriculum" formControlName="firstCtrl" required>
                  <mat-option *ngFor="let curriculum of curriculums" [value]="curriculum.value">
                  {{ curriculum.viewValue }}
                  </mat-option>
               </mat-select>
            </mat-form-field>
         </div>
         <div>
            <button mat-button matStepperNext>Next</button>
         </div>
      </form>
   </mat-step>
   <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
         <ng-template matStepLabel>School grade</ng-template>
         <mat-form-field>
            <mat-select placeholder="Select grade" formControlName="secondCtrl" required>
               <mat-option *ngFor="let grade of grades" [value]="grade.value">
               {{ grade.viewValue }}
               </mat-option>
            </mat-select>
         </mat-form-field>
         <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)='prepSubjects()'>Next</button>
         </div>
      </form>
   </mat-step>
   <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
         <ng-template matStepLabel>Add subjects</ng-template>
         <mat-form-field class="demo-chip-list">
            <mat-chip-list #chipList>
               <mat-chip *ngFor="let subject of subjects" [selectable]="selectable"
               [removable]="removable" (remove)="remove(subject)">
               {{subject.name}}
               <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
               </mat-chip>
               <input placeholder="Enter subject's names"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" />
            </mat-chip-list>
         </mat-form-field>
         <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="addCurriculum()">Done</button>
         </div>
      </form>
   </mat-step>
   </mat-horizontal-stepper>



   <br/>
   <app-curriculum-view></app-curriculum-view>
</div>