<div class="row justify-content-center">
   <div class="col-md-3 col-xs-12 forgotpassword-form">
      <div class="container">
         <mat-card>
            <mat-card-title>
               Forgot password
            </mat-card-title>
            <mat-card-content>
               <form class="example-form" name="logForm">
               <div class="row">
                  <div class="col-12 full-width">
                     <mat-form-field class="full-width">
                        <input matInput placeholder="Enter email">
                     </mat-form-field>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12 text-center">
                     <button mat-button mat-raised-button>Submit</button>
                  </div>
               </div>
               </form>
            </mat-card-content>
         </mat-card>
      </div>
   </div>
</div>