
<form [formGroup]="forgotForm" (ngSubmit)="sendForgotEmail()" novalidate *ngIf="forgotQ">
    <div class="row justify-content-center">
        <div class="col-md-3 col-xs-12 forgotpassword-form">
           <div class="container">
              <mat-card>
                 <mat-card-title>
                    Forgot password
                 </mat-card-title>
                 <mat-card-content>
             
                    <div class="row">
                       <div class="col-12 full-width">
                           Enter your email address here and a password will be forwarded to you.
                          <mat-form-field class="full-width">
                             <input matInput placeholder="Enter email" formControlName="email">
                          </mat-form-field>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-12 text-center">
                          <button mat-button mat-raised-button>Submit</button>
                       </div>
                    </div>
            
                 </mat-card-content>
              </mat-card>
           </div>
        </div>
     </div>
</form>

<div class="container mt-5" *ngIf="forgotResult">
An email has been sent to you. Please follow the instructions to reset password.
</div>
