<div class="container">
    <form name="gradeForm" [formGroup]="gradeForm" (ngSubmit)="gradeStudent()" novalidate>
   
        <div class="container">
           <div class="row mt-4">
              <div class="col-12">   
                  <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                            <mat-select placeholder="Select grade">
                              <mat-option value="option" (click)="filterGrade(1)">Grade one</mat-option>
                              <mat-option value="option" (click)="filterGrade(2)">Grade two</mat-option>
                              <mat-option value="option" (click)="filterGrade(3)">Grade three</mat-option>
                              <mat-option value="option" (click)="filterGrade(4)">Grade four</mat-option>
                              <mat-option value="option" (click)="filterGrade(5)">Grade five</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                  </div> 
                  
                  <div class="row">
                      <div class="col-12">
                          <mat-form-field>
                              <mat-select placeholder="Select Subjects">
                                <mat-option value="option">Mathematics</mat-option>
                                <mat-option value="option">English</mat-option>
                                <mat-option value="option">Biology</mat-option>
                                <mat-option value="option">Geography</mat-option>
                                <mat-option value="option">Science</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                    </div> 

                    <div class="row">
                      <div class="col-12">
                          <mat-form-field>
                              <mat-select formControlName="termCtrl" placeholder="Select Term">
                                <mat-option value="1">Term one</mat-option>
                                <mat-option value="2">Term two</mat-option>
                                <mat-option value="3">Term three</mat-option>
                                <mat-option value="4">Term four</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                    </div>  
                    
                    <div class="example-container mat-elevation-z8">
                        <mat-table #table [dataSource]="studentSource">
                      
                          <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->                                
                          <!-- fullname Column -->
                          <ng-container matColumnDef="givenName">
                            <mat-header-cell *matHeaderCellDef> Full name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.givenName }}  {{element.familyName }}</mat-cell>
                          </ng-container>
                      
                          <!-- grade Column -->
                          <ng-container matColumnDef="grade">
                            <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.schoolGrade}} </mat-cell>
                          </ng-container>
                      
                          <!-- term Column -->
                          <ng-container matColumnDef="term">
                            <mat-header-cell *matHeaderCellDef> Term </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{termCtrl.value}} </mat-cell>
                          </ng-container>
                      
                          <!-- mark Column -->
                          <ng-container matColumnDef="mark">
                            <mat-header-cell *matHeaderCellDef> Mark </mat-header-cell>
                            <mat-cell *matCellDef="let element" contenteditable="true"> {{element.mark}} </mat-cell>
                          </ng-container>

                          <!-- comment Column -->
                          <ng-container matColumnDef="comment">
                              <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
                              <mat-cell *matCellDef="let element" contenteditable="true"> {{element.comment}} </mat-cell>
                            </ng-container>
                      
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                      </div>                    
                 <br />
                 <button mat-button mat-raised-button class="step-wizard-btn-blue">Save</button><br /><br />
              </div>
           </div>
        </div>
        </form>
</div>

