.full-width{
  width:100%;
}

.full-width-responsive{
  width:50%;
}

@media only screen and (max-width: 768px) {
  .full-width-responsive{
    width:100%;
  }
}

.step-wizard-btn {
    background: #ffdd02;
    color: #293592;
}

.step-wizard-btn-blue {
    background: #293592;
    color: #fff;
}

