<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Class Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.className}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="grade">
      <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.classGrade}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="students">
      <mat-header-cell *matHeaderCellDef> Students </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.students}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="teacher">
      <mat-header-cell *matHeaderCellDef> Teacher  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.teacher}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewStudents(row)"></mat-row>
  </mat-table>
</div>