<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <mat-nav-list *ngIf="userService.isAuthenticated">

      <div *ngIf="userService.getRole() == 'Admin'">
          <a mat-list-item *ngFor="let item of sideMenuAdmin" (click)="sidenav.close()"
          [routerLink]="[item.link]" routerLinkActive="active">
          <mat-icon>person pin</mat-icon>  {{item.label}}
       </a>
      </div>

      <div class="mt-4" *ngFor="let item of navigation">
          <a mat-list-item (click)="sidenav.close()"
          [routerLink]="[item.link]" routerLinkActive="active">
          <mat-icon>person pin</mat-icon>  {{item.label}}
       </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">

    <div class="toolbar">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

      
        <span routerLink="" class="branding spacer d-none d-sm-inline d-md-none text-center"><img
          [src]="logo" width="50px"/> Grades</span>
        <span routerLink="" class="branding spacer d-none d-md-inline"><img
          [src]="logo" width="50px"/></span>

        <button *ngIf="userService.isAuthenticated"
                mat-icon-button
                [matMenuTriggerFor]="toolbarUserMenu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="profile()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

      </mat-toolbar>
    </div>

    <div class="content"
         [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
    
      <div class="row">
        <div class="col-12 signature">
          &#169; {{year}} - The Dream Team
          <br class="d-block d-sm-none">
          <a matTooltip="Show changelog"
             matTooltipPosition="before"
             href="https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CHANGELOG.md">
            <i class="fa fa-rocket"></i> {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
          </a>
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>
