



<form name="addClassForm" [formGroup]="addClassForm" (ngSubmit)="buildClass()" novalidate>
  
<div class="container mt-3">
   <div class="example-container">

      <div class="row">
        <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-select placeholder="Enrollment Year"  formControlName="enrollmentYear" *ngFor="let academicYear of academicYears">
                <mat-option [value]="academicYear.value">
                  {{ academicYear.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <mat-form-field>
            <mat-select required formControlName="schoolGrade">
                <mat-option *ngFor="let grade of grades" [value]="grade.value" (click)="showGrade(grade.value)">
                    {{ grade.viewValue }}
                  </mat-option>
            </mat-select>
            <mat-placeholder>
               <i> Select grade</i>
            </mat-placeholder>
            </mat-form-field>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <mat-form-field>
            <input formControlName="name" matInput placeholder="Enter class name" required>
            </mat-form-field>
         </div>
      </div>
    
      <div class="row">
         <div class="col-md-12">
            <mat-form-field>
            <mat-select formControlName="classTeacher" required>
              <div *ngFor="let teacher of Teachers">
                  <mat-option [value]="teacher.id">{{teacher.givenName}}</mat-option>
              </div>
              
            </mat-select>
            <mat-placeholder>
               <i> Select class teacher</i>
            </mat-placeholder>
            </mat-form-field>
         </div>
      </div>

         <div class="docs-example-viewer-title">
             <div class="docs-example-viewer-title-spacer custom-table-heading">Select Students</div>
         </div>
         <br/>
         <div class="example-container mat-elevation-z8" *ngIf="students">
            <mat-table #table [dataSource]="students">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
   
                <!-- Name Column -->
                <ng-container matColumnDef="givenName">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.givenName}} </mat-cell>
                </ng-container>
   
                <!-- Weight Column -->
                <ng-container matColumnDef="familyName">
                  <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.familyName}} </mat-cell>
                </ng-container>
   
                <!-- Symbol Column -->
                <ng-container matColumnDef="dateOfBirth">
                  <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </mat-cell>
                </ng-container>
   
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                         (click)="selection.toggle(row)">
                </mat-row>
              </mat-table>
   
   
         </div>
         <br/>
         <div class="row">
            <div class="col-12 text-right">
               <button mat-button mat-raised-button>Create class</button>
            </div>
         </div>

</div>
</div>
</form>