@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/utilities';

@import '../node_modules/font-awesome/scss/font-awesome';

@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'default-theme.scss';
@import 'light-theme.scss';
@import 'black-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/static/about/about.component.scss-theme';
@import 'app/examples/todos/todos.component.scss-theme';
@import 'app/examples/stock-market/stock-market.component.scss-theme';
@import 'app/examples/theming/parent/parent.component.scss-theme';
@import 'app/examples/theming/child/child.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include anms-styles-reset-theme($theme);
  @include anms-app-component-theme($theme);
  @include anms-about-component-theme($theme);
  @include anms-big-input-component-theme($theme);
  @include anms-todos-component-theme($theme);
  @include anms-examples-component-theme($theme);
  @include anms-parent-component-theme($theme);
  @include anms-child-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
  @include custom-components-theme($anms-black-theme);
}

.mat-list-item-content {
  border-bottom: 1px solid #dee2e6;
}


@import "~bootstrap/dist/css/bootstrap.css";


@import "~ngx-toastr/toastr";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('assets/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('assets/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('assets/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

mat-row:nth-child(even) {
  background-color: #ffdd0245;
}

.default-theme .mat-cell {
  color: rgba(0, 0, 0, 0.87);
  color: #293592;
}

.default-theme .mat-header-cell {
  color: #fff;
}

.default-theme .mat-header-row {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  background: #293592;
}